.pesquisar{
      position: absolute;
      margin-top: 10px;
      margin-left: 1200px;
      transform: translate(-50%,-50%);
      background:#FFFF;
      height: 40px;
      border-radius: 40px;
      padding: 10px;
      margin-top: -700px ;
}
.pesquisabtn{
   color: #00a8ff;
   float: right;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background:#353b48;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 2s;
}
.pesquisatxt{
   border: none;
   background: none;
   outline: none;   
   float: left;
   padding: 0;
   color: rgba(19, 18, 18, 0.781);
   font-size: 16px;
   transition: 0.4s;
   width: 240px;     
}
