.corpo{
    background-color:cornflowerblue;
    height:1500px;/*Altura*/
    width: 100%;/*Largura*/
}
.missao{
    background-color: floralwhite;
    height: 450px;px ;/*Altura*/
    width: 25%;/*Largura*/
    margin-top: 20px;
    margin-left: 130px;
    margin-right:20px;
    
}
.visao{
    background-color: #e41b1b;
    height: 450px;/*Altura*/
    width: 25%;/*Largura*/
    margin-top: -450px;
    margin-left: 680px;
    margin-right:20px;
}
.valores{
    background-color: #1bdde4;
    height: 450px;/*Altura*/
    width: 25%;/*Largura*/
    margin-top: -450px;
    margin-left: 1200px;
}
.historia{
    background-color: #d7e41b;
    height: 400px;/*Altura*/
    width: 1550px;/*Largura*/
    margin-top: 80px;
    margin-left: 130px;
}