.topo{
    background-color: blue;
    height:280px ;/*Altura*/
    width: 100%;/*Largura*/
    }
    .divlogo{
        background-color:lavender;
        height: 180px;/*Altura*/
        width: 300px;/*Largura*/
        margin-left: 20px;
        margin-top: -45px;
    }
    .pesquisa{
        /*background-color:lawngreen;*/
        height: 40px;px ;/*Altura*/
        width: 270px;/*Largura*/
        margin-left: 1500px;
    }
.menudiv1{
    background-color: floralwhite;
    height: 50px;px ;/*Altura*/
    width: 1400px;/*Largura*/
    margin-left: 340px;
    margin-top: -60px;
}

