.body{
    margin-left: 280px;
    top:50%;
    
}
.row{
    top:50%;
    background: linear-gradient(45deg, #000201, #05f752);
}

#forme{border: 2px solid white;}
@media(max-width: 750px){
    #forme{
        margin-left: -80%;
        width: 100%;
    }
  }

