.corpo{
    background-color:cornflowerblue;
    height:800px;/*Altura*/
    width: 100%;/*Largura*/
}
.produto1{
    background-color: floralwhite;
    height: 450px;px ;/*Altura*/
    width: 25%;/*Largura*/
    margin-top: 20px;
    margin-left: 130px;
    margin-right:20px;
    
}
.produto2{
    background-color: #e41b1b;
    height: 450px;/*Altura*/
    width: 25%;/*Largura*/
    margin-top: -450px;
    margin-left: 680px;
    margin-right:20px;
}
.produto3{
    background-color: #1bdde4;
    height: 450px;/*Altura*/
    width: 25%;/*Largura*/
    margin-top: -450px;
    margin-left: 1200px;
}