.corpo{
    background-color:cornflowerblue;
    height:1500px;/*Altura*/
    width: 100%;/*Largura*/
}
.carrosel1{
    background-color: floralwhite;
    height: 450px;px ;/*Altura*/
    width: 100%;/*Largura*/
    margin-top: 20px;
    margin-right: 5px;
}
.carrosel2{
    background-color: floralwhite;
    height: 450px;px ;/*Altura*/
    width: 100%;/*Largura*/
    margin-top: 200px;
    margin-right: 5px;

}
